<div class="standard-box edit-station-sop">
    <div class="box-title">Manage Templates</div>
    <div class="inner-standard-box-wrapper">
        <p>
            <span>Export Template Mockup</span>
            <button ng-confirm-click="Do you want to export a template mockup to start to work on yours?"
                    confirmed-click="scanStation.duplicateStationFromWithinStation()" style="float:left;margin-top:0px">
                Duplicate Bloc
            </button>
        </p>
    </div>
</div>